@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;
  --font-family-sans: Inter, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-200 font-sans antialiased;
  }

  /* Mobile Scaling: Scale down the entire UI on small screens to keep desktop look */
  @media (max-width: 768px) {
    body {
      zoom: 0.65;
    }
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}